[submodule "src/Shared/External/pugixml"]
	path = src/Shared/External/pugixml
	url = https://github.com/zeux/pugixml
[submodule "src/Shared/External/rapidjson"]
	path = src/Shared/External/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/Shared/External/tinyfiledialogs"]
	path = src/Shared/External/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
